@import '../../style/variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=Open+Sans:ital@0;1&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;

  &:hover {
    text-decoration: none;
    color: inherit;
  }
}

p {
  margin: 0;
  padding: 0;
  font-size: 14px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
  background-image: url(./bg.jpg);
  background-size: cover;
  background-attachment: fixed;
}
main {
  display: flex;
    align-items: center;
    min-height: calc(100vh - 140px);
}

.container {
  max-width: 1280px;
  color: $text_color;
  margin: 0 auto;
  padding: 0 40px;
}

h2 {
  color: $brand_color;
  font-family: $accent_font;
  font-size: 25px;
  line-height: 25px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

h3 {
  color: $brand_color;
  font-family: $accent_font;
  font-size: 18px;
  line-height: 18px;
}

h6 {
  font-size: 14px;
  font-style: italic;
}

@media (max-width: 768px) {
  main {
      min-height: calc(100vh - 180px);
    }
  .container {
    padding: 0 20px;
  }
}
