@import '../../style/variables.scss';

.artists {
    &__wrapper {
        background-color: rgba(0, 0, 0, 0.7);
        padding: 40px 40px 0 40px;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    &__cards {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        button {
            margin: 20px;
            color: $text_color;
            padding: 8px 40px;
            border: 1px solid $text_color;
            background-color: transparent;
            cursor: pointer;

            &:hover {
                background-color: $text_color;
                color: $bg_color;
            }
        }
    }

    &__card {
        width: 50%;

        img {
            z-index: 1;
            height: 320px;
            object-fit: cover;
            width: 100%;
        }

        h4 {
            text-align: center;
            font-size: 18px;
            font-family: $accent_font;
            opacity: 0;
        }

        div {
            margin-top: -48px;
            z-index: 10;
            padding: 10px;
        }

        &:hover {
            h4 {
                opacity: 1;
            }

            div {
                background-color: rgba(0, 0, 0, 0.7);
            }
        }

    }
}

@media (max-width: 768px) {
    .artists {
        &__wrapper {
            padding: 20px 20px 0 20px;
        }

        &__cards {
            flex-direction: column;
        }

        &__card {
            width: 100%;
        }

    }
}