@import '../../style/variables.scss';

.home {
    justify-content: flex-start;
    .container {
        display: flex;
        flex-direction: column;
        width: 100%;
        color: $accent_color;

        h1 {
            font-size: 90px;
            max-width: 700px;
            font-weight: 400;
            line-height: 90px;
        }

        p {
            font-size: 38px;
            padding-top: 20px;
        }
    }
}

@media (max-width: 768px) {
    .home {
        .container {
            h1 {
                font-size: 54px;
                line-height: 60px;
                text-align: center;
            }

            p {
                font-size: 20px;
                text-align: center;
            }
        }
    }
}