@import './variables';

.footer {
    background-color: rgba(0, 0, 0, 0.85);
    .container {
        height: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        span {
            font-size: 13px;
        }
    }

    &__socials {
        display: flex;
        gap: 10px;

        a {
            width: 20px;
            height: 20px;
            &:hover {
                color: $brand_color;
            }
        }
    }
}

@media (max-width: 768px) {
    .footer {
            .container {
                justify-content: center;
                gap: 20px;
                flex-direction: column-reverse;
                height: 80px;
            }
        }
}