@import '../../style/variables.scss';

.footer {
    height: 40px;
    background-color: rgba(0, 0, 0, 0.85);

    .container {
        padding-top: 10px;
        display: flex;
        justify-content: space-between;

        span {
            font-size: 13px;
        }
    }

    &__socials {
        display: flex;
        gap: 10px;

        a {
            width: 20px;
            height: 20px;

            &:hover {
                color: $brand_color;
            }
        }
    }
}

@media (max-width: 768px) {
    .footer {
        display: flex;
        height: 80px;
        .container {
            justify-content: center;
            gap: 20px;
            flex-direction: column-reverse;
        }
    }
}